
body {
    background-color: #fff;
    font-family: 'Lato',Arial,sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 20px;
}

::selection {
    background: #4f1010;
    color: #fff;
}

.header-details a {
    text-decoration: none;
    border-bottom: 1px dashed;
    color: inherit;
}

hr {
   
    border: 1px solid  #4f1010;
    
}

#spacer {
    margin-top: 20px;
    margin-bottom: 50px;
}

#spacer hr {
	margin:0;
	padding:0;
}

h1 {
    display: block;
    margin: 10px auto;
    font-family: 'Playfair Display',serif;
    color: #fff;
    font-size: 50px;
    line-height: 54px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0;
    text-shadow: none;
}

h1.panel-title {
    font-family: 'Lato',Arial,sans-serif;
    font-weight: 400;
    color: #4f1010;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 10px;
}

h2 {
    margin-right: 0;
    margin-bottom: 27px;
    margin-left: 0;
    color: #fff;
    font-size: 38px;
    line-height: 36px;
    font-weight: 300;
    text-align: left;
    text-shadow: none;
}

h3 {
    margin: 5px 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    text-shadow: none;
}

h4 {
    margin: 10px 0;
    font-family: Lato,sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
}

h5 {
    margin: 10px 0;
    font-family: Lato,sans-serif;
    color: #fff;
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
}

h6 {
    display: block;
    margin: 5px 0 10px;
    font-family: 'Playfair Display',sans-serif;
    color: #002942;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-shadow: none;
    text-align: center;
}

h6.studio-name {
    font-size: 14px;
    line-height: 14px;
    color: gray;
    margin-bottom: 10px;
    text-align: left;
}

p {
    margin-bottom: 5px;
/*   padding-right: 60px; */
    padding-left: 0;
    color: #002942;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0;
    text-shadow: none;
}

p.home-paragraph {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 40px;
}

.schedule {
    font-size: 16px;
    line-height: 22px;
}

.schedule-about {
    font-size: 18px;
    line-height: 26px;
}

.button {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    float: left;
    border: 3px solid #fff;
    border-radius: 15px;
    background-color: #fff;
    opacity: 1;
    -webkit-transition: none 0 ease;
    -o-transition: none 0 ease;
    transition: none 0 ease;
    direction: ltr;
    font-family: Lato,sans-serif;
    color: #4f1010;
    font-size: 15px;
    line-height: 45px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #4f1010;
    color: #fff;
}

.button.contact {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    padding-top: 0;
    border-radius: 15px;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    color: #002942;
}

.button.contact:hover {
    background-color: #002942;
    color: #fff;
}

.field {
    width: 70%;
    height: 54px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    border: 0 solid #000;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #fff;
    box-shadow: transparent 0 0 8px 0 inset;
    -webkit-transition: box-shadow 150ms ease;
    -o-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    color: #806732;
    font-size: 18px;
    font-weight: 300;
}

.field:focus {
    box-shadow: #b59143 0 0 0 2px inset;
}

.sign-up-form {
    margin-top: 40px;
}

.social-widget {
    width: 100px;
    float: left;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.social-widget-wrapper {
    display: block;
    width: 223px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
}

.success-message {
    padding: 20px;
    border-radius: 2px;
    background-color: #b59143;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #fff;
}

.spread-word {
    margin-top: 20px;
    margin-bottom: 9px;
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
    text-shadow: none;
}

.error-message {
    padding-bottom: 5px;
    border-radius: 2px;
    background-color: #5c3245;
}

.bar {
    width: 14.285%;
    height: 7px;
    float: left;
    background-color: #1abc9c;
}

.container {
    padding-right: 70px;
    padding-left: 70px;
}

.social-section {
    padding-top: 58px;
    padding-bottom: 58px;
    background-color: #002942;
    text-align: center;
    color: #fff;
}

.social-section p {
    color: #fff;
}

.agenda-section {
    padding-top: 58px;
    padding-bottom: 58px;
    background-color: #002942;
    color: #fff;
}

.agenda-section p {
    color: #fff;
}

.share-btn {
    display: inline-block;
    width: 61px;
    margin-right: 14px;
    margin-left: 14px;
}

.share-wrapper {
    margin-top: 32px;
}

.social-btn {
    margin-left: 17px;
    padding-right: 2px;
    padding-left: 2px;
    opacity: .15;
    -webkit-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}

.social-btn:hover {
    opacity: .7;
}

.social-btn.footer {
    margin-right: 9px;
    margin-left: 9px;
}

.navbar {
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #002942;
    box-shadow: none;
}

.w-nav-overlay {
    height: 425px !important;
}

/*
a.w-nav-link {
    border-top: 1px white solid;
}
*/
/* ============== new nav =========================== */


#nav {
    display: none;
}

nav#mobile {
    float: right;
    font-size:18px;
}

nav#mobile label {
	color:white;
	margin-top:20px;
}

#nav ~ label {
    display: none;
}

@media screen and (min-width: 800px) {
    nav#mobile {
        display: none;
    }
    
    
}

@media screen and (max-width: 800px) {
    nav#desktop {
        display: none;
    }
    
    #nav-left, #nav-right {
	    width:50%;
    }
}

#nav:not(:checked) ~ label:first-of-type,#nav:checked ~ label:last-of-type {
    display: block;
}

#nav ~ ul {
    opacity: 0;
    position: absolute;
    right: 0px;
    transition-duration: .4s;
    padding-top: 2px;
    text-align: left;
    display: inline;
}

#nav:checked ~ ul {
    opacity: 1;
}

#nav ~ ul > li {
    float: none;
    list-style-type: none;
}

.mobile-nav {
    padding:10px;
    margin: 0;
    display: block;
    background:#4f1010;
    z-index: 99999 !important;
	box-shadow: #002942 0px 0px 5px;	
}

.mobile-nav li {
    list-style-type: none;
    padding: 20px 30px;
    color:white;
	text-decoration: none;
}


.mobile-nav li a {
    
    color:white;
	text-decoration: none;
}

/* ============== new nav =========================== */
nav#desktop {
    margin-top: 20px;
}

.desktop-nav {
    padding: 0;
    margin: 0;
    float: right;
}

.desktop-nav li {
    display: inline;
    list-style-type: none;
    padding: 0 10px;
}

.desktop-nav li a {
    color: #fff;
    text-decoration: none;
}



.brand {
    display: inline-block;
    color: #2e2e2e;
    font-size: 32px;
    line-height: 22px;
    font-weight: 500;
}

.logo {
    margin-top: -10px;
    margin-right: 13px;
}

.brand-image {
    max-width: 170px;
}

.logo.footer {
    display: block;
    margin: 0 auto 21px;
}

.section {
    padding-top: 81px;
    padding-bottom: 81px;
    text-align: left;
}

.section.hero {
    position: static;
    height: 350px;
    padding-top: 10%;
    padding-bottom: 0;
    background-color: #4f1010;
    background-image: -webkit-linear-gradient(bottom,rgba(0,41,66,0.70),rgba(0,41,66,0.70)),url(../images/City.png);
    background-image: -o-linear-gradient(bottom,rgba(0,41,66,0.70),rgba(0,41,66,0.70)),url(../images/City.png);
    background-image: linear-gradient(to top,rgba(0,41,66,0.70),rgba(0,41,66,0.70)),url(../images/City.png);
    background-position: 0 0%,50% 50%;
    background-size: auto,cover;
    background-attachment: scroll,scroll;
    box-shadow: #001c2e 0 10px 44px -5px inset;
    font-family: 'Playfair Display',serif;
    text-align: center;
}

.section.hero h5 {
    text-align: center;
}

.section.hero.success {
    background-color: #18c7aa;
}

.section.grey {
    position: static;
    z-index: 1;
    padding-bottom: 50px;
    background-color: #fff;
    font-family: Lato,sans-serif;
    color: #002942;
    font-weight: 700;
}

.small-sponsor {
    width: 75%;
}

.small-sponsor:hover,.large-sponsor:hover {
    opacity: .5;
}

#sponsor-module {
    margin: 50px 0 80px;
    text-align: center;
    border-top: 1px solid #4f1010;
    padding-top: 30px;
}

.section.footer {
    padding-top: 40px;
    padding-bottom: 20px;
    background: #F5F5F5;
}

.fourofour {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.small-archive-list {
    padding: 0;
    margin: 0;
    display: inline;
}

.footer .inline-link {
    font-size: 12px;
}

.footer .bold {
    font-weight: 900;
    padding-right: 10px;
    border-right: 1px solid;
}

.small-archive-list li {
    display: inline;
    list-style-type: none;
    padding: 0 10px;
    border-right: 1px solid;
}

.showcase-contact-list {
    padding: 0;
    display: block;
    margin: 20px 0;
}

.showcase-contact-list li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
}

.showcase-contact-list li a {
    background: #4f1010;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #4f1010;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 4;
}

.showcase-contact-list li a:hover {
    background: #fff;
    font-style: normal;
    color: #4f1010;
}

ul#dropdown-bio {
    margin: 0;
    padding: 0;
}

ul#dropdown-bio li {
    margin: 20px 0;
    list-style: none;
    background: #eee;
}

ul#dropdown-bio li a {
    color: #4f1010;
}

ul#dropdown-bio li div {
    display: none;
}

ul#dropdown-bio div {
    margin-top: 10px;
}

.dropdown-title {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    width:100%;
    height:100%;
    padding: 20px 40px 20px 30px;
}

.dropdown-title:after {
	   font-family: FontAwesome;

	content:"\f078";
	float:right;
	font-weight:300;
}

.dropdown-text {
	padding: 0px 40px 30px 30px;
}
.showcase-image {
    width: 100%;
    height: 297px;
}


#boot {
    background: url(../showcase-images/bhb/bhb-screenshot.png);
    background-position: center center;
    background-size: cover;
}
#boot:hover {
	 background: url(../showcase-images/bhb/dwelch-headshot.jpg);
    background-position: center center;
    background-size: cover;
}


#battle {
    background: url(../showcase-images/bcb/bcb-screenshot.jpg);
    background-position: center center;
    background-size: cover;
}
#battle:hover {
	 background: url(../showcase-images/bcb/tom-headshot.png) no-repeat;
    background-position: center center;
    background-size: contain;
}

#garden {
    background: url(../showcase-images/manifold-garden/ManifoldGarden_Screenshot_10.jpg);
    background-position: center center;
    background-size: cover;
}

#garden:hover {
    background: url(../showcase-images/manifold-garden/william_chyr_001.jpg);
    background-position: center center;
    background-size: cover;
}

#telepath {
    background: url(../showcase-images/Telepath-Tactics/telepath-gameplay.png);
    background-position: center center;
    background-size: cover;
}

#telepath:hover {
    background: url(../showcase-images/Telepath-Tactics/Craig-Stern-crop.jpg);
    background-position: center center;
    background-size: cover;
}

#omnibus {
    background: url(../showcase-images/Omnibus/omnibus-screenshot.png);
    background-position: center center;
    background-size: cover;
}

#omnibus:hover {
    background: url(../showcase-images/Omnibus/developer-headshot.jpg);
    background-position: center center;
    background-size: cover;
}

#chicago {
    background: url(../showcase-images/We-Chicago/WeAreChicagoFriendsPortrait.jpg);
    background-position: center center;
    background-size: cover;
}

#chicago:hover {
    background: url(../showcase-images/We-Chicago/michael-block.jpg);
    background-position: center center;
    background-size: cover;
}

.grey-heading {
    font-family: 'Playfair Display',serif;
    color: rgba(0,0,0,0.56);
    text-align: center;
    text-shadow: none;
}

.image-crop {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 368px;
    margin-top: 39px;
    margin-bottom: -81px;
}

.phone-image {
    width: 381px;
}

.infinite {
    margin-top: 52px;
    opacity: .15;
}

.controller-image {
    position: static;
    z-index: 0;
    display: block;
    margin: 0 auto 40px;
    padding-left: 0;
    float: none;
    max-width: 150px;
}

.nav {
    background-color: #002942;
}

.center {
    text-align: center;
    text-shadow: none;
}

.inline-highlight {
    background-color: rgba(255,0,0,0);
    font-family: 'Playfair Display',sans-serif;
    color: #002942;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
}

.date-time {
    position: relative;
    z-index: 5;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #4f1010;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5em;
    vertical-align: middle;
}

#header-date,#header-location {
    margin-top: 3%;
}

.loc {
    font-weight: 300;
    font-size: .9em;
}

.small {
    font-family: 'Playfair Display',sans-serif;
    color: #002942;
    font-size: 12px;
    text-shadow: none;
}

.small-2 {
    font-family: 'Lato',sans-serif;
    color: #002942;
    font-size: 14px;
    line-height: 20px;
    text-shadow: none;
}

span.about-sub {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    font-size: 12px;
    margin-top: 25px;
}

.controller-column {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin-top: -85px;
    margin-right: auto;
    margin-left: auto;
}

.main-nav {
    background-color: #002942;
    color: #002942;
}

.date-time-column {
    padding-top: 1%;
}

.nav-link {
    font-family: Lato,sans-serif;
    color: #fff;
}

.nav-link:hover {
    border-radius: 15px;
    text-decoration: none;
    text-transform: none;
}

.question-callout {
    font-family: Lato,sans-serif;
}

.h5 {
    font-family: Lato,sans-serif;
}

.h1-about {
    color: #4f1010;
    text-shadow: none;
}

.about-column {
    padding-top: 0;
    font-size: 20px;
    line-height: 30px;
    text-shadow: none;
}

.organizers {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #4f1010;
    font-family: Lato,sans-serif;
}

.organizers-paragraph {
    font-family: Lato,sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 300;
    text-align: left;
    text-shadow: none;
}

.organizers-link {
    color: #fff;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
}

.organizers-link:hover {
    color: #002942;
}

.about-paragraph {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-shadow: none;
}

.organizers-column {
    margin-top: 25px;
}

.twitter {
    margin-top: 25px;
}

.h3-organizers {
    margin-top: 25px;
    font-family: 'Playfair Display',sans-serif;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    text-shadow: none;
}

.social-media-links {
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.social-media-block {
    margin-top: 25px;
}

.h3-faw {
    text-shadow: none;
}

.h3-faq {
    margin-top: 25px;
    font-family: 'Playfair Display',sans-serif;
    color: #4f1010;
    font-weight: 400;
    text-align: left;
    text-shadow: none;
}

.faq-paragraph {
    margin-top: 20px;
    font-family: Lato,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0;
    text-shadow: none;
}

.faq-question {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
    font-family: 'Playfair Display',sans-serif;
    color: #4f1010;
    font-weight: 700;
    text-align: left;
    text-shadow: none;
}

.faq-quest {
    text-shadow: none;
}

.success-message {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    color: #fff;
}

.success-paragraph {
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    font-style: italic;
    font-weight: 300;
    text-shadow: none;
}

.error-message {
    background-color: transparent;
    font-family: Lato,sans-serif;
    font-weight: 700;
    text-shadow: none;
}

.error-paragraph {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    font-weight: 300;
    text-shadow: none;
}

.submit-button {
    width: 50%;
    padding: 10px 25px;
    float: right;
    clear: left;
    border: 3px solid #fff;
    border-radius: 15px;
    background-color: #4f1010;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.submit-button:hover {
    background-color: #fff;
    color: #4f1010;
    font-weight: 400;
}

.form-field {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 9px;
}

.form-field.long-field {
    height: 144px;
}

.inline-link {
    color: #4f1010;
    font-weight: 400;
    text-decoration: none;
    text-shadow: none;
}

.inline-link:hover {
    color: #002942;
    font-style: italic;
    font-weight: 400;
    text-shadow: none;
}

.maps {
    margin-top: 35px;
}

.map-iframe {
    position: fixed;
    z-index: 0;
}

.maps-section {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 0;
}

@media (max-width: 991px) {
    h1 {
        text-shadow: none;
    }

    p {
        text-shadow: none;
    }

    /*.button {
        position: relative;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 30%;
        height: auto;
      }*/
    .field {
        width: 70%;
    }

    .social-btn {
        -webkit-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .social-btn:hover {
        opacity: .8;
    }

    .navbar {
        box-shadow: none;
    }

    .nav-link {
        border: 0 solid #fff;
        border-radius: 0;
    }

    .nav-link:hover {
        border-width: 0;
    }

    .hamburger-menu {
        width: auto;
        padding: 15px;
        color: #fff;
        z-index: 9999;
    }

    .hamburger-menu.w--open {
        background-color: #002942;
        z-index: 9999;
    }

    .hamburger-icon {
        width: auto;
        z-index: 9999;
    }

    .mobile-menu {
        border: 0 solid #fff;
        background-color: #002942;
    }
}

@media (max-width: 767px) {
    h1 {
        text-shadow: none;
    }

    p {
        text-shadow: none;
    }

    .button {
        width: 40%;
    }

    .field {
        width: 60%;
    }

    .container {
        padding-right: 33px;
        padding-left: 33px;
    }

    .social-section {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .section.hero {
        padding: 20% 10px 26px;
    }
}

@media (max-width: 479px) {
    h1 {
        font-size: 36px;
        line-height: 46px;
        text-shadow: none;
    }

    h2 {
        font-size: 30px;
        line-height: 31px;
        text-shadow: none;
    }

    h4 {
        text-shadow: none;
    }

    h5 {
        line-height: 36px;
        text-shadow: none;
    }

    p {
        text-shadow: none;
    }

    .button {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .field {
        width: 100%;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        text-align: center;
    }

    .social-widget {
        width: 96px;
    }

    .social-widget-wrapper {
        display: block;
        width: 194px;
        margin-right: auto;
        margin-bottom: 15px;
        margin-left: auto;
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .social-section {
        padding-right: 14px;
        padding-left: 14px;
    }

    .navbar {
        box-shadow: none;
    }

    .section {
        padding-top: 47px;
        padding-bottom: 47px;
    }

    .section.hero {
        padding-top: 20%;
    }

    .grey-heading {
        text-shadow: none;
    }

    .image-crop {
        height: 278px;
        margin-bottom: -47px;
    }

    .phone-image {
        width: 80%;
    }

    .small {
        line-height: 18px;
        text-shadow: none;
    }

    .date-time-column {
        position: static;
        display: block;
        overflow-x: visible;
        overflow-y: visible;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        opacity: 1;
        list-style-type: none;
    }

    .hamburger-menu {
        padding-top: 6px;
        padding-bottom: 0;
    }

    .rights-paragraph {
        font-size: 12px;
        line-height: 18px;
        text-shadow: none;
    }

    .brand-image {
        width: 240px;
        float: left;
    }
}

@media screen and (min-width: 1700px) {
    .section.hero {
        padding-top: 7%;
    }
}

@media screen and (min-width: 2200px) {
    .section.hero {
        padding-top: 5%;
    }
}

iframe {
    padding-left: 10px;
}

@media screen and (max-width:690px) {
    iframe {
        width: 95%;
    }
}

/* ======= SLIDER CSS ========= */
.image-thumb {
    float: left;
    padding: 0;
    margin: 0 0 20px 10px;
}

.image-thumb li {
    padding: 0;
    margin: 5px 10px 5px 0;
    float: left;
    display: inline;
}

.thumbnail {
    position: relative;
    width: 160px;
    height: 110px;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
    width: 100%;
    height: auto;
}